<div data-hook="account_my_favorite_products" class="account-my-favorite-products commonform">
  <div class="page-title">
      <h2 class="taxon-title"><%= Spree.t(:my_favorite_products) %></h2>
  </div>
  <div class="inside-content">
    <% if @favorite_products.present? %>
      <table class="favorite-products order-summary">
        <thead>
        <tr>
          <th class="favorite-product-image"><%= Spree.t(:product_image) %></th>
          <th class="favorite-product-name"><%= Spree.t(:product_name) %></th>
          <th class="favorite-product-action">Action</th>        
        </tr>
        </thead>
        <tbody>
        <% @favorite_products.each do |product| %>
          <tr class="<%= cycle('even', 'odd') %>" id="favorite_product_<%= product.id %>">
            <td class="favorite-product-image"><%= link_to image_tag('http://images.liveofficedata.co.uk/images/' + product.image_name + '.jpg'), product %></td>
            <td class="favorite-product-name"><%= product.name %></td>
            <td class="favorite-product-remove"><%= link_to 'Remove', favorite_product_path(:id => product.id), :method => :delete, :remote => true %>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% else %>
      <p><%= Spree.t(:you_have_no_favorite_products_yet) %></p>
    <% end %>
    
    <%= paginate @favorite_products %>
  </div>
</div>