<%
  paginated_products = @searcher.retrieve_products if params.key?(:keywords)
  paginated_products ||= products
%>

<% content_for :head do %>
  <% if paginated_products.respond_to?(:num_pages) %>
    <%= rel_next_prev_link_tags paginated_products %>
  <% end %>
<% end %>

<div class="page-title">
  <% if products.empty? %>
    <%= Spree.t(:no_products_found) %>
  <% elsif params.key?(:keywords) %>
    <h2 class="taxon-title"><%= Spree.t(:search_results, :keywords => h(params[:keywords])) %></h2>
  <% end %>
</div>

<div class="inside-content">
  <% if products.any? %>
  <ul id="products" class="inline product-listing" data-hook>
    <% products.each do |product| %>
      <% url = product_url(product, :taxon_id => @taxon.try(:id)) %>
      <li id="product_<%= product.id %>" class="columns three <%= cycle("alpha", "secondary", "", "omega secondary", :name => "classes") %>" data-hook="products_list_item" itemscope itemtype="http://schema.org/Product">
        <% cache(@taxon.present? ? [current_currency, @taxon, product] : [current_currency, product]) do %>
          <div class="product-image">
            <% if product.image_name.blank? %>
              <p>No Image</p>
            <% else %>
              <%= link_to image_tag('http://www.op-insight.co.uk/images/product/large/' + product.image_name + '.jpg'), product %>
            <% end %>          
          </div>

          <div class="product-desc">
            <%= link_to truncate(product.name, :length => 50), url, :class => 'info', :itemprop => "name", :title => product.name %>
          </div>

          <div class="product-price">
            <span class="price selling" itemprop="price"><%= display_price(product) %></span>
          </div>
        <% end %>
      </li>
    <% end %>
    <% reset_cycle("classes") %>
  </ul>
  <% end %>

  <% if paginated_products.respond_to?(:num_pages) %>
    <%= paginate paginated_products %>
  <% end %>
</div>
