<div class="review" itemprop="reviews" itemscope itemtype="http://schema.org/Review">
  <div class="reviewRating">
    <span class="reviews-rating" title="<%= txt_stars(review.rating) %>">
      <%= render "spree/reviews/stars", :stars => review.rating %>
    </span>
    <span class="name" itemprop="name"><%= review.title %></span>

    <span class="attribution"><%= t('submitted_on') %> <span class="date"><%= l review.created_at.to_date %></span></span>
    <meta itemprop="datePublished" content="<%= review.created_at.to_date.to_s %>" />

    <meta itemprop="reviewRating" content="<%= review.rating %>" />
    <% if Spree::Reviews::Config[:show_email] && review.user %>
      <span class="author-email" itemprop="author"><%= review.user.email %></span>
    <% else %>
      <span class="author" itemprop="author"><%= review.name %></span>
    <% end %>
  </div>
  <div class="reviewBody" itemprop="reviewBody">
    <%= simple_format(review.review) %>
    <% if Spree::Reviews::Config[:feedback_rating] && (!Spree::Reviews::Config[:require_login] || spree_current_user) %>
      <div class="feedback_review" id="feedback_review_<%= review.id %>">
        <%= render "spree/feedback_reviews/form", :review => review %>
      </div>
    <% end %>  
  </div>
</div>
